---
name: Run Tests

on:
  workflow_call:
    inputs:
      install_python:
        type: boolean
        required: true
        description: "install python if true"
        default: false

jobs:
  tests:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493 # v5.0.0
      - uses: ./.github/actions/setup-dependencies
        with:
          install_task: "true"
          install_python: ${{ inputs.install_python }}
          service_path: app/
        env:
          environment: ${{ github.ref_name }}
          aws-assume-role-arn: ${{ secrets.AWS_ASSUME_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}
          aws-statefile-s3-bucket: ${{ secrets.AWS_STATEFILE_S3_BUCKET }}
          aws-lock-dynamodb-table: ${{ secrets.AWS_LOCK_DYNAMODB_TABLE }}
      - name: run tests
        working-directory: app/
        run: |
          task test

  run-tests-failure-alert:
    runs-on: ubuntu-latest
    needs: tests
    if: ${{ cancelled() || contains(needs.*.result, 'cancelled') || contains(needs.*.result, 'failure') }}
    steps:
      - name: Conditionally Fail Required Check
        shell: bash
        run: |
          echo "::error Some required job has failed!"
          exit 1
