---
name: "Production Deploy"

on:
  push:
    branches:
      - main
  pull_request:

permissions:
    id-token: write
    contents: write

jobs:
  filter:
    runs-on: ubuntu-24.04
    outputs:
      app: ${{ steps.filter.outputs.app }}
      infra: ${{ steps.filter.outputs.infra }}
    steps:
      - name: Checkout
        uses: actions/checkout@ff7abcd0c3c05ccf6adc123a8cd1fd4fb30fb493 # v5.0.0

      - name: Paths Changes Filter
        id: filter
        uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        with:
          filters: .github/utils/file-filters.yaml

  app-test:
    needs: filter
    if: ${{ needs.filter.outputs != '[]' && needs.filter.outputs  != '' && needs.filter.outputs.app == 'true'}}
    uses: ./.github/workflows/app/test.yaml
    with:
      install_python: 'true'

  app-build:
    needs: app-test
    if: ${{ needs.filter.outputs.app == 'true' }}
    uses: ./.github/workflows/app/build.yaml

  app-deploy:
    needs: app-build
    if: ${{ needs.filter.outputs.app == 'true' }}
    uses: ./.github/workflows/app/deploy.yaml

  infra-plan:
    needs: filter
    if: ${{ needs.filter.outputs.infra == 'true' }}
    uses: ./.github/workflows/infra/plan.yaml
    with:
      environment: prd
