# .github/workflows/production.yaml
name: "Production Orchestrator"

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  id-token: write

jobs:
  changes:
    name: "Detect Changes"
    runs-on: ubuntu-latest
    outputs:
      infra: ${{ steps.filter.outputs.infra }}
      app: ${{ steps.filter.outputs.app }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            infra:
              - 'infra/**'
              - '.github/workflows/**'
            app:
              - 'app/**'
              - '.github/workflows/**'

  ci_app:
    name: "CI: App"
    if: needs.changes.outputs.app == 'true'
    needs: [changes]
    uses: ./.github/workflows/ci-app.yaml

  ci_infra:
    name: "CI: Infra"
    if: needs.changes.outputs.infra == 'true'
    needs: [changes]
    uses: ./.github/workflows/ci-infra.yaml

  cd_infra:
    name: "CD: Infra"
    if: github.event_name == 'push' && needs.changes.outputs.infra == 'true'
    needs: [changes, ci_infra]
    uses: ./.github/workflows/cd-infra.yaml
    with:
      environment: "prd"
    secrets: inherit

  cd_app:
    name: "CD: App"
    if: github.event_name == 'push' && needs.changes.outputs.app == 'true'
    needs: [changes, ci_app, cd_infra] # Always wait for infra CD to finish
    uses: ./.github/workflows/cd-app.yaml
    with:
      environment: "prd"
      project_name: "eloquent"
      ecr_repository: "eloquent-ai-app"
    secrets: inherit
